<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.instagram.com/dhrme_g/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/dhrme_g/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ayushdharme/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-company">
            &copy WonderLust Pvt Ltd.
        </div>
        <div class="f-info-privacy">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>